<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Vue JS</title>
    <style>
        .red-4 {
            background-color: red;
        }

        .red-5 {
            background-color: firebrick;
        }
    </style>
</head>
<body>
    <div id="myApp">
        <h1 v-html="output.toUpperCase()"></h1>
        <div v-bind:class="'red-' + count">{{ count + 1 }}</div>
        <input v-model="searchme">
        <div>Searching for {{ searchme }}</div>
        <ul>
            <li v-for="index in filteredItems">{{ index.todo }}</li>
        </ul>

        <div>{{ $data }}</div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#myApp',
            data: {
                output: 'Hello World',
                searchme: 'nothing yet',
                count: 4,
                items: [
                    {todo: "write code"},
                    {todo: "create website"},
                    {todo: "load content"}
                ]
            },
            created: function() {
                console.log('Instance created ' + this.output);
            },
            mounted: function() {
                this.count++;
                console.log('Instance mounted ' + this.output);
            },
            computed: {
                filteredItems: function() {
                    var searchme = this.searchme;
                    return this.items.filter(function(item) {
                        return item.todo.indexOf(searchme) > -1;
                    });
                }
            }
        });

        vm.output = "new<br>content";
    </script>
</body>
</html>