<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Vue Js</title>
    <style>
        .btn {
            display: block;
            margin-top: 35px;
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div id="myApp">
        <h1>Searching for {{searchme}}</h1>
        <input type="text" v-model="searchme">

       <div v-for="index in filteredItems">{{index.todo}}</div>
        <a v-on:click="toggleData" class="btn">click me</a>
        <pre v-show="preview">{{$data}}</pre>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#myApp',
            data: {
                searchme: "",
                preview: false,
                items: [
                    {todo: "create website"},
                    {todo: "upload content"},
                    {todo: "promote website"}
                ]
            },
            computed: {
                filteredItems: function() {
                    var searchme = this.searchme;
                    return this.items.filter(function(item) {
                        return item.todo.indexOf(searchme) > -1;
                    });
                }
            },
            methods: {
                toggleData: function() {
                    this.preview = !this.preview;
                }
            }
        });
    </script>
</body>
</html>